TASK 1

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/master.csv')

In [ ]:
print(df)

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

In [ ]:
len(df.index)

27820

In [ ]:
len(df.columns)

12

In [ ]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [ ]:
print(df.apply(lambda col: col.unique()))

country               [Albania, Antigua and Barbuda, Argentina, Arme...
year                  [1987, 1988, 1989, 1992, 1993, 1994, 1995, 199...
sex                                                      [male, female]
age                   [15-24 years, 35-54 years, 75+ years, 25-34 ye...
suicides_no           [21, 16, 14, 1, 9, 6, 4, 0, 2, 17, 8, 3, 5, 18...
population            [312900, 308000, 289700, 21800, 274300, 35600,...
suicides/100k pop     [6.71, 5.19, 4.83, 4.59, 3.28, 2.81, 2.15, 1.5...
country-year          [Albania1987, Albania1988, Albania1989, Albani...
HDI for year          [nan, 0.619, 0.6559999999999999, 0.695, 0.722,...
 gdp_for_year ($)     [2,15,66,24,900, 2,12,60,00,000, 2,33,51,24,98...
gdp_per_capita ($)    [796, 769, 833, 251, 437, 697, 835, 1127, 793,...
generation            [Generation X, Silent, G.I. Generation, Boomer...
dtype: object

In [ ]:
df.isnull().sum(axis=1)

0        1
1        1
2        1
3        1
4        1
        ..
27815    0
27816    0
27817    0
27818    0
27819    0
Length: 27820, dtype: int64

In [ ]:
result = df.isna().sum().sum()
print(333840 - result)

314384